<div class="ae-grid au-xs-ta-center au-mb-4">
  <br>

  <hr>



  <div class="mt-auto">
    <br>

    <p>

    </p>
  </div>

  <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt=""
      class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Robert T. Williams</h5>
    <p class="ae-u-bolder au-mb-3">Graphic Designer</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor.</p><a href="#0" class="ae-u-bolder au-underline">@robertwilliams</a>
  </div>

  <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-2.jpg" alt=""
      class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Angelina B. Widow</h5>
    <p class="ae-u-bolder au-mb-3">Founder / CEO</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit.</p><a href="#0" class="ae-u-bolder au-underline">@angelinawidow</a>
  </div>

  <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt=""
      class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Patrick Anderson</h5>
    <p class="ae-u-bolder au-mb-3">Art Director</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id est laborum.</p><a href="#0" class="ae-u-bolder au-underline">@patrickanderson</a>
  </div>

</div>
<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">Title example</h4>
    <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
  </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">About Us</h6>
    <p class="au-lh-3"> EsSOSTenible nació en el 2021 con el objetivo de ofrecer alternativas sostenibles, éticas y
      duraderas a los
      productos de un solo
      uso para poco a poco conseguir ganarle la batalla al plástico y a los residuos en general.

      Somos Irene y Théo y queremos llegar a todas aquellas personas que quieren vivir plenamente sin generar tantos
      residuos y consumiendo de una manera consciente, siendo respetuosos y honestos con el medio ambiente y con los
      animales. </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Our Mission</h6>
    <p class="au-lh-3">Ofrecer alternativas zero waste para cuidar nuestro precioso planeta

      Solamente trabajamos con productos cruelty free y veganos porque amamos a todos los seres vivos

      Todo lo que proponemos son productos de confianza que usamos nosotros mismos y nos funcionan

      No usamos plástico en los envíos ni tampoco embalajes innecesarios


      Intentamos encontrar alternativas al plástico con productos de proximidad, dentro de lo posible

      No somos perfectos, pero siempre estamos dispuestos a mejorar y aprender.</p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Our Clients</h6>
    <p class="au-lh-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. </p>
    <p class="au-lh-3">Nemo enim ipsam voluptatem quia voluptas</p>
  </div>
</div>
<p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html"
    class="au-mt-4 arrow-button arrow-button--right arrow-button--out text-muted">View Our Portfolio<span
      class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
      </svg></span></a></p>